*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.topo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: #333333;
    overflow: hidden;
}

.formulario-all{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    max-height: 700px;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.formulario-texto h1, h3{
    font-variant: small-caps;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
}

.formulario-texto h1{
    letter-spacing: 1px;
    font-size: 2em;
    color: #000000;
    text-shadow: 1px 10px 7px;
    text-transform: uppercase;
}

.formulario-texto h3{
    font-size: 1.5em;
    color: #a59b0e;
    display: block;
    border-bottom: 1px solid #a59b0e;
}

.formulario-texto p{
    margin: 15px 0;
    font-size: 1.2em;
}

.formulario-texto p:nth-child(5){
    text-align: center;
    color: #a59b0e;
    font-weight: bold;
    font-variant: small-caps;
}

.formulario input{
    padding: 8px;
    width: 90%;
    margin-bottom: 10px;
    outline: none;
    transition: 0.2s;
}

.button-submit{
    letter-spacing: 4px;
    font-weight: bold;
    font-variant: small-caps;
    font-family:'Tapestry', cursive;
    border-radius: px;
    border: 1px solid;
    background-color: #f387b9;
}

.formulario input:focus{
    background-color: #e2da62;
    border: 0.5px solid;
    padding: 12px;
}

.button-submit:hover{
    background-color: #f387b9;
    padding: 14px 10px;
    letter-spacing: 3px;
}

.img{
    height: 100%;
}

.img-manipulation{
    position: relative;
    height: 100%;
}

.img-manipulation img{
    position: relative;
    top: 10%;
    right: 38%;
}

.topo2{
    height: 40vh;
}

.topo2-container{
    width: 90%;
    margin: 0 auto;
}

.topo2-texto{
    margin: 20px 0;
}

.topo2-texto h3{
    font-size: 1.3em;
}

.topo2-texto p{
    text-align: center;
    font-size: 1.1em;
    font-family: 'Poppins', sans-serif;
}

.cards{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.card{
    width: 170px;
    height: 190px;
    border-radius: 10px;
    background-color: #eeeeee;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

.icon{
    margin-bottom: 5px;
}

.button-camp-b2{
    text-align: center;
}

.b2{
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    transition: 0.2s;
}

.cronograma{
    background-color: #333333;
}

.cronograma-container{
    padding: 20px 0;
}

.cronograma-grupo{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.cronograma-card{
    background-color: #22222244;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #e2da62;
    box-shadow: 2px 5px 10px;
    max-width: 450px;
}

.apontamento-container{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.apontamento-img-lado{
    order: -1;
}

.apontamento-img img{
    border-radius: 50%;
}

.apontamento-texto li{
    list-style: none;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}

.apresentacao{
    background-color: #333333;
}

.apresentacao-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 0;
}

.apresentacao-texto{
    max-width: 600px;
    order: -1;
}

.apresentacao-texto h3{
    color: #a59b0e;
    text-align: start;
}

.apresentacao-texto p{
    font-size: 1.2em;
}

.apresentacao-img-lado{
    height: 80%;
    padding: 20px 0;
    position: relative;
}

.apresentacao-img{
    height: 100%;
    overflow: hidden;
    position: relative;
    left: -80%;
}

.apresentacao-img img{
    height: 100%;
    border-radius: 50%;
}

address{
    text-align: center;
    padding: 10px;
}